#select {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 80px;
}
.english {
    width: 150px;
    height: 150px;
    padding: 80px;
}

.english:hover {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 30px;
    padding: 40px;
}

.spanish {
    padding: 80px;
    width: 150px;
    height: 150px;
}

.spanish:hover {
    margin-top: 20px;
    padding: 40px;
    width: 200px;
    margin-left: 30px;
    height: 200px;
}
@media (max-width:800px) {
    #select {
        margin-left: 1%;
        margin-right: 1%;
    }
    .spanish {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    .spanish:hover {
        padding: 5px;
        width: 100px;
        height: 100px;
        margin-top: 2px;
    }
    .english {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    .english:hover {
        padding: 5px;
        width: 100px;
        height: 100px;
        margin-top: 2px;
    }
}