:root {
  --bs-font-sans-serif: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #434A54;
  background-color: #F5F7FA;
}

.about-section {
  text-align: justify;
}

hr {
  margin: 2rem 0;
  color: #adb5bd;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}


h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}


.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #3b6eb0;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a>code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

img,
svg {
  vertical-align: middle;
}

th {
  text-align: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

.container {
  width: 95%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.row>* {
  width: 100%;
  max-width: 100%;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.form-check-inline .form-check-input~.invalid-feedback {
  margin-left: .5em;
}

.btn-download:hover {
  color: #434A54;
}

.btn-download:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(74, 137, 220, 0.25);
}

.btn-download:disabled,
.btn-download.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-download {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #434A54;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 3rem;
  transition: all 0.18s ease-in-out;

  color: #000;
  background-color: #E6E9ED;
  border-color: #E6E9ED;
}

.btn-download:hover {
  color: #000;
  background-color: #eaecf0;
  border-color: #e9ebef;
}

.btn-download:focus {
  color: #000;
  background-color: #eaecf0;
  border-color: #e9ebef;
  box-shadow: 0 0 0 0.25rem rgba(196, 198, 201, 0.5);
}

.btn-download:disabled,
.btn-download.disabled {
  color: #000;
  background-color: #E6E9ED;
  border-color: #E6E9ED;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem 2rem;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 2rem;
}

.card-group>.card {
  margin-bottom: 0.75rem;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.end-0 {
  right: 0 !important;
}

.end-50 {
  right: 50% !important;
}

.end-100 {
  right: 100% !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.translate-middle-x {
  transform: translateX(-50%) !important;
}

.translate-middle-y {
  transform: translateY(-50%) !important;
}

.justify-content-center {
  justify-content: center !important;
}

.my-3 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.me-1 {
  margin-right: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.p-3 {
  padding: 2rem !important;
}

.p-4 {
  padding: 3rem !important;
}

.p-5 {
  padding: 6rem !important;
}


.px-3 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.py-3 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.pt-4 {
  padding-top: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 3rem !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-lighter {
  font-weight: lighter !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-primary {
  color: #000000 !important;
}

.text-secondary {
  color: #656D78 !important;
}

.text-success {
  color: #37BC9B !important;
}

.text-info {
  color: #3BAFDA !important;
}

.text-warning {
  color: #F6BB42 !important;
}

.text-danger {
  color: #E9573F !important;
}

.text-light {
  color: #E6E9ED !important;
}

.text-dark {
  color: #434A54 !important;
}

.text-white {
  color: #fff !important;
}

.text-body {
  color: #434A54 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-reset {
  color: inherit !important;
}

.bg-primary {
  background-color: #000000 !important;
}

.bg-secondary {
  background-color: #656D78 !important;
}

.bg-success {
  background-color: #37BC9B !important;
}

.bg-info {
  background-color: #3BAFDA !important;
}

.bg-warning {
  background-color: #F6BB42 !important;
}

.bg-danger {
  background-color: #E9573F !important;
}

.bg-light {
  background-color: #E6E9ED !important;
}

.bg-dark {
  background-color: #434A54 !important;
}

.bg-body {
  background-color: #F5F7FA !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-gradient {
  background-image: var(--bs-gradient) !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

/* Bootstrap */

.btn-download {
  font-size: 0.9375rem;
}

.btn-download:focus,
.btn-download:hover {
  transform: translateY(-2px);
}

.text-small {
  font-size: 0.875rem;
}

.hover-effect {
  transition: transform .18s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-2px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-black {
  border-left-color: #000000;
}

.timeline-card-black:before {
  border-color: #000000;
}

.timeline-card-black:after {
  background-color: #000000;
}

.timeline-card-red {
  border-left-color: #FF0000;
}

.timeline-card-red:before {
  border-color: #FF0000;
}

.timeline-card-red:after {
  background-color: #FF0000;
}

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(0, 0, 0, 0.8);
}

.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath d='M100 0L0 100V75l25-25L100 0zm-5 5l-70 70v20l20-20L95 5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
}

@media (prefers-reduced-motion: reduce) {

  .btn-download,
  .nav-link {
    transition: none;
  }
}

/* Responsive */

@media (min-width: 48em) {

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 720px;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 40.66667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
  }


  .offset-md-1 {
    margin-left: 8.33333%;
    align-content: center;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .px-lg-4 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

}

@media (width > 1200px) {

  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.75rem;
  }

  .h4 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 1060px;
  }

}

/* Fonts */

@font-face {
  font-family: 'icomoon';
  src: url('assets/icomoon.eot?pv1s9w');
  src: url('assets/icomoon.eot?pv1s9w#iefix') format('embedded-opentype'),
    url('assets/icomoon.ttf?pv1s9w') format('truetype'),
    url('assets/icomoon.woff?pv1s9w') format('woff'),
    url('assets/icomoon.svg?pv1s9w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-safe:before {
  content: "\e929";
}

.icon-money:before {
  content: "\e929";
}

.icon-mouse:before {
  content: "\e92a";
}

.icon-pc:before {
  content: "\e92a";
}

.icon-computer:before {
  content: "\e92a";
}

.icon-tools:before {
  content: "\e92b";
}

.icon-fire:before {
  content: "\e92c";
}

.icon-danger:before {
  content: "\e92c";
}

.icon-flame:before {
  content: "\e92c";
}

.icon-hot:before {
  content: "\e92c";
}

.icon-study:before {
  content: "\e927";
}

.icon-graduation:before {
  content: "\e927";
}

.icon-hat:before {
  content: "\e927";
}

.icon-college:before {
  content: "\e927";
}

.icon-certificate:before {
  content: "\e923";
}

.icon-language:before {
  content: "\e934";
}

.icon-birthday-cake:before {
  content: "\e926";
}

.icon-atlassian:before {
  content: "\e935";
  color: #0052cc;
}

.icon-mega:before {
  content: "\e92d";
  color: #d9272e;
}

.icon-mediafire:before {
  content: "\e92f";
  color: #1299f3;
}

.icon-figma:before {
  content: "\e930";
  color: #f24e1e;
}

.icon-mastodon:before {
  content: "\e931";
  color: #3088d4;
}

.icon-cloudflare:before {
  content: "\e932";
  color: #f38020;
}

.icon-swagger:before {
  content: "\e925";
  color: #85ea2d;
}

.icon-instagram:before {
  content: "\e924";
  color: #e4405f;
}

.icon-microsoftazure:before {
  content: "\e921";
  color: #0089d6;
}

.icon-amazonaws:before {
  content: "\e922";
}

.icon-kubernetes:before {
  content: "\e900";
  color: #326ce5;
}

.icon-sublimetext:before {
  content: "\e901";
  color: #ff9800;
}

.icon-vim:before {
  content: "\e902";
  color: #019733;
}

.icon-rust:before {
  content: "\e903";
}

.icon-godotengine:before {
  content: "\e904";
  color: #478cbf;
}

.icon-freebsd:before {
  content: "\e905";
  color: #ab2b28;
}

.icon-git:before {
  content: "\e906";
  color: #f05032;
}

.icon-gnu:before {
  content: "\e907";
  color: #a42e2b;
}

.icon-javascript:before {
  content: "\e908";
  color: #f7df1e;
}

.icon-java:before {
  content: "\e909";
  color: #007396;
}

.icon-oracle:before {
  content: "\e90a";
  color: #f80000;
}

.icon-mysql:before {
  content: "\e90b";
  color: #4479a1;
}

.icon-mongodb:before {
  content: "\e90c";
  color: #47a248;
}

.icon-jira:before {
  content: "\e90d";
}

.icon-protonmail:before {
  content: "\e90e";
  color: #8b89cc;
}

.icon-opensuse:before {
  content: "\e90f";
  color: #73ba25;
}

.icon-x:before {
  content: "\e910";
}

.icon-intellijidea:before {
  content: "\e911";
}

.icon-visualstudiocode:before {
  content: "\e912";
  color: #007acc;
}

.icon-python:before {
  content: "\e913";
  color: #3776ab;
}

.icon-gimp:before {
  content: "\e914";
  color: #5c5543;
}

.icon-debian:before {
  content: "\e915";
  color: #a81d33;
}

.icon-linuxmint:before {
  content: "\e916";
  color: #87cf3e;
}

.icon-linux:before {
  content: "\e917";
  color: #fcc624;
}

.icon-archlinux:before {
  content: "\e918";
  color: #1793d1;
}

.icon-docker:before {
  content: "\e919";
  color: #1488c6;
}

.icon-node-dot-js:before {
  content: "\e91a";
  color: #393;
}

.icon-css3:before {
  content: "\e91b";
  color: #1572b6;
}

.icon-html5:before {
  content: "\e91c";
  color: #e34f26;
}

.icon-vue-dot-js:before {
  content: "\e91d";
  color: #4fc08d;
}

.icon-angular:before {
  content: "\e91e";
  color: #dd0031;
}

.icon-gitlab:before {
  content: "\e91f";
  color: #fca121;
}

.icon-signal:before {
  content: "\e920";
  color: #2592e9;
}

.icon-home:before {
  content: "\e928";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-folder-download:before {
  content: "\e933";
}

.icon-qrcode:before {
  content: "\e938";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-map:before {
  content: "\e94b";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-display:before {
  content: "\e956";
}

.icon-drive:before {
  content: "\e963";
}

.icon-database:before {
  content: "\e964";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-key:before {
  content: "\e98d";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-mug:before {
  content: "\e9a2";
}

.icon-sphere:before {
  content: "\e9c9";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-flag:before {
  content: "\e9cc";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-eye-blocked:before {
  content: "\e9d1";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-terminal:before {
  content: "\ea81";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-spotify:before {
  content: "\ea94";
}

.icon-telegram:before {
  content: "\ea95";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-steam2:before {
  content: "\eaad";
}

.icon-github:before {
  content: "\eab0";
}

.icon-tux:before {
  content: "\eabd";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-android:before {
  content: "\eac0";
}

.icon-windows8:before {
  content: "\eac2";
}

.icon-wikipedia:before {
  content: "\eac8";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-paypal:before {
  content: "\ead8";
}

.icon-chrome:before {
  content: "\ead9";
}

.icon-firefox:before {
  content: "\eada";
}

.icon-file-openoffice:before {
  content: "\eae0";
}

.icon-libreoffice:before {
  content: "\eae3";
}